@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,1,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    color: white;
    background-color: #5a95ee;
    background-image: radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
                      radial-gradient(at 72% 6%, rgb(64, 169, 230) 0px, transparent 50%),
                      radial-gradient(at 24% 19%, rgb(129, 248, 189) 0px, transparent 50%),
                      radial-gradient(at 65% 6%, rgb(145, 242, 229) 0px, transparent 50%),
                      radial-gradient(at 20% 98%, rgb(110, 97, 229) 0px, transparent 50%),
                      radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
                      radial-gradient(at 10% 9%, hsla(76, 65%, 63%, 1) 0px, transparent 50%);
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.image-wrapper img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}

ul.nav-links{
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
}

li.nav-link{
    display: inline-block;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 300;
}

.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    border-color: #2668db;
}

.attrebute{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 12px;
}

@media screen and (max-width: 1075px) {
    .content{
        flex-direction: column;

    }
}

@media screen and (max-width: 720px){
    .logo{
        font-size: 22px;
    }
    li.nav-links{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 13px;
    }
    .image-wrapper img{
        max-width: 400px;
    }
}
